.light{
    background:#f7f7f7;
    color:#222;
    transition:.3s;
}

.dark{
    background:#121212;
    color:white;
    transition:.3s;
}

.dark a{
    color:white;
}

.light a{
    color:#222;
}

.dark input,
.dark textarea{
    background:#222;
    color:white;
}

.light input,
.light textarea{
    background:white;
    color:#222;
}.app{
    min-height:100vh;
    transition:.3s;
}

.light{
    background:#f5f5f5;
    color:#222;
}

.dark{
    background:#121212;
    color:white;
}